<h1>This is the campgrounds page!</h1>

<% campgrounds.forEach((element, index) => { %>
    <div>
        <h4> <%= element.name %>  </h4>
        <img src="<%= element.image %>" alt="">
    </div>
    

<%  }) %>